* {
  box-sizing: border-box;
}
#CONTACT{
    color: rgb(71, 70, 70);
    background-image: url("wood1.jpg");
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding: 40px;
}
a{
    color: gray;
    cursor: pointer;
}
a:hover{
    color: azure
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 22px;
  border: 3px solid rgb(71, 70, 70);
  background-image: url("fullback.jpg");
  font-family: 'Caveat', cursive;
  font-size: 20px;

}

input[type=Send] {
  background-color: yellow;
  color: black;
  padding: 12px 15px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  border: 3px solid rgb(71, 70, 70);
  background-image: url("fullback.jpg");
  }

.container {
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 10px;
}
#footer {
    padding: 8px;
    background-image: url("back-prof.jpg");
    text-align: center;
    color: rgb(214, 212, 212);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    right:0;
}
#Home{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    background-image: url("fullback.jpg");
    display: inline-block;
    border-radius: 40%;
    margin-left: 45%;
   }
   #Home:hover {
    background-image: url("wood.jpg");
    }
#Portfolio{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    background-image: url("fullback.jpg");
    display: inline-block;
    border-radius: 40%;   
}
#Portfolio:hover {
    background-image: url("wood.jpg");
    }
#Contact{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    display: inline-block;
    background-image: url("fullback.jpg");
    border-radius: 40%;
}
#Contact:hover {
    background-image: url("wood.jpg");
    }
#button1{
    background-image: url("textback.jpg");
    color: black;
    border-color: #0066A2;
    height: 50px;
    width: 200px;
    font: bold 15px arial, sans-serif;
    border: 2px solid rgb(71, 70, 70); 
    border-radius: 50%;
    position: absolute;
    top: 80%;
    bottom: 20%;
    right: 20%;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;

}
#button1:hover {
    background-image: url("wood.jpg");
    color:white;
    }