* {
    box-sizing: border-box;
  }

#TOP{
    background-image: url("wood1.jpg");
    padding: 40px;
    color: rgb(71, 70, 70);
    font-size: 50px;
    font-family:'Permanent Marker', cursive;
}
a{
    color: gray;
    cursor: pointer;
}
a:hover{
    color: azure
}
#Home{
    font-size: 25px;
    font-family:'Sigmar One', cursive;
    border-style: outset;
    display: inline-block;
    background-image: url("../images/fullback.jpg");
    border-radius: 40%;
    margin-left: 40%;
}   

#Home:hover {
    background-image: url("../images/wood.jpg");
    }

#Portfolio{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    display: inline-block;
    background-image: url("../images/fullback.jpg");
    border-radius: 40%;

}
#Portfolio:hover {
    background-image: url("wood.jpg");
    }
#Contact{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    border-style: outset;
    display: inline-block;
    background-image: url("fullback.jpg");
    border-radius: 40%;
}  
#Contact:hover {
    background-image: url("wood.jpg");
    }
#profilepic{
    float: right;
    background-image: url("fullback.jpg"); 
    margin-top: 40px;
    padding: 40px;
    margin-bottom: 50px;
    border: 5px solid;
    right: 10px;
}
#paragraph{
    color: rgba(5, 3, 0, 0.849);
    font-size: 28px;
    font-family: 'Caveat', cursive;
    float: left;
    width: 70%;
    
}
#footer {
    padding: 8px;
    background-image: url("back-prof.jpg");
    text-align: center;
    color: rgb(214, 212, 212);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    right:0;
}